.center-form{
	display:flex; flex-direction:column;align-items:center;justify-content:center;height:90vh;
}
.center-form Form{max-width:400px;}
.center-form Form .form-control{
margin-bottom:20px;padding:10px;}