/*style the navbar bkgnd and brand*/
.navbar { background-color: #343a40;}
.navbar .navbar-brand{ color: #fff;}
/*style the navigation links*/
.navbar .nav-link{ color:#fff !important;text-decoration: none !important;
margin-right:20px;}
/*Add media query for small screens*/
@media (max-width:576px){.navbar .nav-link{margin-right:0;}
}